{% extends 'pages/base.html' %}
{% load static %}
{% block title %}
  Contact Us
{% endblock %}
{% block sidenav %}
  {% for page in page_list %}
   <li>
    <a href="{{ page.permalink }}">
        {{ page.title }}
        
            
    </a> 
   </li>
  {% endfor %}
{% endblock %} 

{% block content %}
<h1>Contact us</h1>
{% if submitted %}
  <p class='success'>
    Your message was submitted successfully.
  <p>  
{% else %}
 <form method ='POST' nonvalidate>
  <table>
    {% csrf_token %}
    {{ form.as_table }}
      
    <tr>
      <td>&nbsp;</td>
      <td><input type='submit' value='submit' /></td>
    </tr> 
    
  </table>
</form>  
{% endif %} 
{% endblock %}